body {
  margin: 0;
  padding: 0px;
  background: #1d2731;
  overflow: hidden;
  font-family: "Montserrat";
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background: #334757;
  width: 600px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #425b6f;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: inherit;
}

button {
  background: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #59ba5c;
  font-family: inherit;
}
button:hover {
  background: #45a049;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.error {
  color: #ff0000;
  animation: fadeIn 0.5s linear;
  -webkit-animation: fadeIn 0.5s linear;
  will-change: opacity;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
