* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

input, textarea, button {
  font-family: inherit;
}

input, textarea {
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: inherit;
  width: 100%;
  margin-top: 5px;
}
input:focus, textarea:focus {
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

h1, h2 {
  color: #fff;
}

h3, h4, h5, h6 {
  color: #aaa;
}

label, p {
  color: #aaa;
}

nav {
  margin-bottom: 1em;
}

.header {
  padding: 5px;
  text-align: center;
  background: #0d0da9;
  font-size: larger;
  color: #fff;
}

.navbar {
  background: #010171;
  overflow: hidden;
}
.navbar .left {
  float: left;
  text-align: left;
}
.navbar .right {
  float: right;
  text-align: right;
}
.navbar a {
  padding: 8px 12px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
  margin: 7.5px;
  border-radius: 5px;
}
.navbar a:hover {
  background: #040452;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.alert {
  background: #f00;
  color: #fff;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 5px !important;
  text-align: center;
}
.alert.green {
  background: #47d764;
}
.alert.red {
  background: #f00;
}
.alert.orange {
  background: #fb9803;
}
.alert.purple {
  background: #9b51e0;
}
.alert.form-alert {
  max-width: 20em;
  margin: auto;
}

button {
  display: block;
  padding: 14px 16px;
  margin: 5px 0;
  border: none;
  border-radius: 2px;
  background: #040452;
  color: #fff;
  font-size: larger;
  font-weight: inherit;
  transition: 200ms;
}
button:hover {
  background: #0a0a78;
  cursor: pointer;
}

.card {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card.form-card.signup {
  max-width: 21.5em;
  margin: 0 auto;
}
.card.form-card.signup input {
  display: block;
}
.card.form-card.signup label {
  display: block;
  font-size: larger;
}
.card.form-card.signup button {
  width: 100%;
}
.card.form-card.message {
  max-width: 50em;
  margin: 0 auto;
}
.card.form-card.message button {
  width: 100%;
}
.card .card-header {
  color: #fff;
  background: #010171;
  padding: 12px;
  border-radius: 5px 5px 0 0;
}
.card .card-body {
  padding: 5px;
  background: #2a2a2a;
  color: #fff;
  border-radius: 0 0 5px 5px;
}
.card .card-body.message hr {
  margin: 5px;
}
.card .card-body label.status {
  display: block;
  font-size: larger;
}
.card .card-body .link {
  color: #aaa;
  text-decoration: none;
}
.card .card-body .link:hover {
  color: #fff;
  text-decoration: underline;
}
.card.users {
  max-width: 40em;
  margin: 0 auto;
}
.card.users a {
  color: #fff;
  text-decoration: none;
}

.toast-wrapper {
  width: 420px;
  padding: 30px 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.toast-wrapper .toast {
  width: 380px;
  padding: 20px;
  background-color: #2a2a2a;
  border-left: solid 8px #47d764;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1.2fr 6fr 0.5fr;
  transform: translate(400px);
  transition: 1s;
}
.toast-wrapper .toast.error {
  border-left: solid 8px #e90d0d;
}
.toast-wrapper .toast .container-1, .toast-wrapper .toast .container-2 {
  align-self: center;
}
.toast-wrapper .toast .container-1 {
  font-size: 40px;
  color: #47d764;
}
.toast-wrapper .toast .container-1.error {
  color: #e90d0d;
}
.toast-wrapper .toast .container-2 p:first-child {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.toast-wrapper .toast .container-2 p:last-child {
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
}
.toast-wrapper .toast button {
  align-self: flex-start;
  background: transparent;
  font-size: 25px;
  line-height: 0;
  border: none;
  color: #aaa;
  cursor: pointer;
}

hr {
  border: 1px solid #1c1b1b;
  margin: 10px 0;
}

code {
  font-family: monospace, Consolas, "courier new";
  color: crimson;
  background-color: #1a1a1a;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 2.5px;
  margin: 2px;
  font-size: 105%;
}

.status-dot {
  float: right;
  margin-bottom: 3px;
  background-color: #a2a2a2;
  border-radius: 50%;
  width: 12.5px;
  height: 12.5px;
}
.status-dot.usesrs {
  float: none;
}
.status-dot.online {
  background-color: #47d764;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.badge {
  background-color: red;
  color: white;
  margin: 5px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 15px;
}

.admin-text {
  font-weight: 500;
  padding: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  margin: 0 5px;
  color: #ff0011;
  background-color: #5e151a;
}

.mod-text {
  font-weight: 500;
  padding: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  margin: 0 5px;
  color: #0d71d5;
  background-color: #1a1a5e;
}

.dev-text {
  font-weight: 500;
  padding: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  margin: 0 5px;
  color: #10a5fc;
  background-color: #0a26ae;
}

.owner-text {
  font-weight: 500;
  padding: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  margin: 0 5px;
  color: #cd44df;
  background-color: #69097c;
}

.logo {
  margin: 0 0 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800 !important;
}
.logo:hover {
  background-color: transparent !important;
}

.admin-card .admin-header {
  background-color: #2a2a2a;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.admin-card .admin-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #202020;
  border-radius: 0 0 5px 5px;
}
.admin-card .admin-wrapper .admin-content {
  flex: 1;
  padding: 25px;
}
.admin-card .admin-wrapper .admin-content h1, .admin-card .admin-wrapper .admin-content h2, .admin-card .admin-wrapper .admin-content h3, .admin-card .admin-wrapper .admin-content h4, .admin-card .admin-wrapper .admin-content h5, .admin-card .admin-wrapper .admin-content h6 {
  color: #fff;
}
.admin-card .admin-wrapper .admin-content p {
  color: #aaa;
}
.admin-card .admin-wrapper .admin-sidebar {
  width: 20%;
  padding: 10px;
  background-color: #262525;
}
.admin-card .admin-wrapper .admin-sidebar a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  display: block;
  padding: 5px;
}
.admin-card .admin-wrapper .admin-sidebar a i {
  margin-right: 5px;
}
.admin-card .admin-wrapper .admin-sidebar a .caret {
  margin-left: 5px;
}
.admin-card .admin-wrapper .admin-sidebar a.no-hover:hover {
  color: #fff !important;
}
.admin-card .admin-wrapper .admin-sidebar a:hover {
  color: #aaa;
}
.admin-card .admin-wrapper .admin-sidebar a.sublink {
  margin-left: 20px;
}

select {
  border-radius: 2px;
  padding: 12px 25px;
  color: #aaa;
  font-family: inherit;
  font-weight: inherit;
  background-color: #202020;
}
select:focus {
  outline: none;
}
