body {
  background-color: #1a1a1a;
  font-family: "Verdana";
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: inherit;
}

h1, h2 {
  color: #fff;
}

h3, h4, h5, h6 {
  color: #aaa;
}

label, p {
  color: #aaa;
}

nav {
  margin-bottom: 1em;
}

.header {
  padding: 5px;
  text-align: center;
  background: #0d0da9;
  font-size: larger;
  color: white;
}

.navbar {
  background: #010171;
  overflow: hidden;
}
.navbar .left {
  float: left;
  text-align: left;
}
.navbar .right {
  float: right;
  text-align: right;
}
.navbar a {
  padding: 8px 16px;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: large;
}
.navbar a:hover {
  background: #040452;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.input-group {
  display: flex;
}
.input-group .inputs {
  display: block;
  margin: 0 5px;
}
.input-group .inputs input {
  display: block !important;
  width: 100%;
}
.input-group .labels {
  display: block;
}
.input-group .labels label {
  margin: 2.5px;
  margin-right: 15px;
  display: block !important;
}

.alert {
  background: #040452;
  color: white;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 5px !important;
  text-align: center;
}
.alert.success {
  background: #040452;
}
.alert.error {
  background: #d20a0a;
}
.alert.form-alert {
  max-width: 20em;
  margin: auto;
}

.card {
  border: 1px solid #2c2c2c;
}
.card.form-card {
  max-width: 21.5em;
  margin: 0 auto;
}
.card .card-header {
  color: #fff;
  background: #010171;
  padding: 5px;
}
.card .card-body {
  padding: 5px;
  background: #2a2a2a;
}
.card.users {
  max-width: 40em;
  margin: 0 auto;
}
.card.users a {
  color: #fff;
  text-decoration: none;
}

.error {
  background-color: #d20a0a;
}

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
