// convert all css variables to sass variables
$dark: #141313;
$dark-secondary: lighten($dark, 5%);
$dark-third: lighten($dark, 10%);
$dark-fourth: lighten($dark, 12.5%);
$white: #fff;
$grey: #aaa;
$blue: rgb(13, 13, 169);
$dark-blue: darken($blue, 10%);
$dark-blue-hover: darken($blue, 20%);
$dark-blue-hover-hover: darken($blue, 25%);
$red: #f00;


:root {
  --dark: #{$dark};
  --dark-secondary: #{lighten($dark, 5%)};
  --white: #{$white};
  --grey: #{$grey};
  --blue:  #{$blue};
  --dark-blue: #{darken($blue, 10%)};
  --dark-blue-hover: #{darken($blue, 20%)};
  --dark-blue-hover-hover: #{darken($blue, 25%)};
  --red: #{$red};
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
body {
  // dark bg
  background-color: var(--dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: white;
}
input, textarea, button {
  font-family: inherit;
}
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin: 0;
  padding: 0;
  // change the color of the checkbox
  background-color: var(--dark-secondary);
  border: 1px solid var(--dark-secondary);
  border-radius: 5px; 

}

input, textarea {
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: var(--dark);
  color: var(--white);
  padding: 10px;
  font-size: 1.2rem;
  font-weight: inherit;
  width: 100%;
  &:focus {
    outline: none;
  }
  margin-top: 5px;
}
textarea {
  resize: vertical;
  min-height: 100px;
}

h1, h2 {
  color: var(--white);
}
h3, h4, h5, h6 {
  // gray text
  color: var(--grey);
}
label, p {
  // gray text
  color: var(--grey);
}
nav {
  margin-bottom: 1em;
}
.header {
  padding: 5px;
  text-align: center;
  background: var(--blue);
  font-size: larger;
  color: var(--white);
}

.navbar {
  background: var(--dark-blue);
  overflow: hidden;
  img {
    width: 161.26px;
    height: 25px;
    overflow: hidden;
    margin-top: -6px;
    display: inline-block;
    vertical-align: middle;
    @media (max-width: 768px) {
      width: 50%;
      height: auto;
      margin-top: 0;
    }
  }
  .left {
    float: left;
    text-align: left;
    @media (max-width: 768px) {
      float: none;
      text-align: center;
    }
  }
  .right {
    float: right;
    text-align: right;
    @media (max-width: 768px) {
      float: none;
      text-align: center;
    }
  }
  a {
    padding: 8px 12px;
    color: var(--white);
    display: inline-block;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    &:hover {
      background: var(--dark-blue-hover);
    }
    margin: 7.5px;
    border-radius: 5px;
    @media (max-width: 768px) {
      display: block;
      width: 100%;
    }
  }
  // on small screens, the navbar will collapse
}

// secondary navbar
.secondary-navbar {
  background: var(--dark-blue-hover);
  overflow: hidden;
  .left {
    float: left;
    text-align: left;
    @media (max-width: 768px) {
      float: none;
      text-align: center;
    }
  }
  .right {
    float: right;
    text-align: right;
    @media (max-width: 768px) {
      float: none;
      text-align: center;
    }
  }
  a {
    padding: 6px 10px;
    color: var(--white);
    display: inline-block;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    &:hover {
      background: var(--dark-blue)
    }
    @media (max-width: 768px) {
      display: block;
      width: 100%;
      text-align: center;
    }
    margin: 7.5px;
    border-radius: 5px;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.alert {
  background: var(--red);
  color: var(--white);
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 5px!important;
  text-align: center;
  a {
    color: var(--white);
    margin: 0 5px;
  }
  .text {
    // center
    text-align: center;
  }

  .icon-left {
    float: left;
    margin-right: 10px;
    // center vertical
    display: block;
    margin: 0 auto;
  }
  .icon-right {
    float: right;
    margin-left: 10px;
    // center vertical
    display: block;
    margin: 0 auto;
  }

  i {
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
  }
  
  &.green {
    // green color
    background: #47d764;
  }
  &.red {
    // red color
    background: var(--red);
  }
  &.orange {
    // orange color
    background: #fb9803;
  }
  &.purple {
    // purple color
    background: #9b51e0;
  }
  &.blue {
    // blue color
    background: #00bcd4;
  }
  &.form-alert {
    max-width: 20em;
    margin: auto;
  }
}
button {
  display: block;
  padding: 14px 16px;
  margin: 5px 0;
  border: none;
  border-radius: 2px; 
  background: var(--dark-blue-hover);
  color: var(--white);
  font-size: larger;
  font-weight: inherit;
  transition: 200ms;
  &:hover {
    background: var(--dark-blue-hover-hover);
    cursor: pointer;
  }
}
.card {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  &.no-header {
    border-radius: 5px;
  }
  a {
    color: var(--white);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &.forum {
    .card-body {
      a {
        color: var(--white);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.form-card {
    &.signup {
      max-width: 21.5em;
      margin: 0 auto;
      input {
        display: block;
      }
      label {
        display: block;
        font-size: larger;
      }
      button {
        width: 100%;
      }
    }
    &.message {
      max-width: 50em;
      margin: 0 auto;
      button {
        width: 100%;
      }
    }
  }
  .card-header {
    color: var(--white);
    background: var(--dark-blue);
    padding: 12px;
    border-radius: 5px 5px 0 0;
    &.red {
      background: var(--red);
    }
  }
  .card-body {
    padding: 5px;
    background: var(--dark-secondary);
    color: var(--white);
    border-radius: 0 0 5px 5px;
    &.message {
      hr {
        margin: 5px;
      }
    }
    label {
      &.status {
        display: block;
        font-size: larger;
      }
    }
    .link {
      color: var(--grey);
      text-decoration: none;
      &:hover {
        color: var(--white);
        text-decoration: underline;
      }
    }
  }
  &.users {
    max-width: 40em;
    margin: 0 auto;
    a {
      color: var(--white);
      text-decoration: none;
    }
  }
}

.toast-wrapper {
  width: 420px;
  padding: 30px 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  .toast {
    width: 380px;
    padding: 20px;
    background-color: var(--dark-secondary);
    border-left: solid 8px #47d764;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.2fr 6fr 0.5fr;
    transform: translate(400px);
    transition: 1s;
    &.error {
      border-left: solid 8px var(--red);
    }
    .container-1, .container-2{
      align-self: center;
    }
    .container-1 {
      font-size: 40px;
      color: #47d764;
      &.error {
        color: var(--red);
      }
    }
    .container-2 p:first-child {
      color: var(--white);
      font-weight: 600;
      font-size: 16px;
    }
    .container-2 p:last-child {
      font-size: 12px;
      font-weight: 400;
      color: var(--grey);
    }
    button {
      align-self: flex-start;
      background: transparent;
      font-size: 25px;
      line-height: 0;
      border: none;
      color: var(--grey);
      cursor: pointer;
    }
  }
}

hr {
  border: 1px solid var(--dark);
  margin: 10px 0;  
}

code {
  font-family: monospace, Consolas, "courier new";
  color: crimson;
  background-color: var(--dark);
  padding: 2px 5px;
  display: inline-block;
  border-radius: 2.5px; 
  margin: 2px;
  font-size: 105%;
}
.status-dot {
  float: right;
  background-color: #a2a2a2;
  border-radius: 50%;
  width: 12.5px;
  height: 12.5px;
  &.online {
    background-color: #47d764;
  }
  &.no-float {
    float: none;
    display: inline-block;
    margin: 0 5px;
  }
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.badge {
  background-color: red;
  color: white;
  margin: 5px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 15px;
}

@mixin badge {
  font-weight: 500;
  padding: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  margin: 0 5px;
}

.admin-text {
  // use badge mixin
  @include badge;
  color: #ff0011;
  background-color: #5e151a;
}
.mod-text {
  // use badge mixin
  @include badge;
  color: #0d71d5;
  background-color: #1a1a5e;
}
.dev-text {
  // use badge mixin
  @include badge;
  color: #10a5fc;
  background-color: #0a26ae;
}
.owner-text {
  // use badge mixin
  @include badge;
  color: #cd44df;
  background-color: #69097c;
}

.logo {
  margin: 0 0!important;
  // make uppercase
  text-transform: uppercase;
  // letter spacing
  letter-spacing: 1px;
  font-weight: 800!important;
  &:hover {
    // don't change background
    background-color: transparent!important;
  }
}

.admin-card {
  .admin-header {
    // grey background
    background-color: $dark-secondary;
    // white text
    color: var(--white);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    // box shadow
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .admin-wrapper {
    display: flex;
    flex-direction: row;
    background-color: $dark-third;
    border-radius: 0 0 5px 5px;
    .admin-content {
      // do not shrink
      flex: 1;
      padding: 25px;
      h1, h2, h3, h4, h5, h6 {
        color: var(--white);
      }
      p {
        color: var(--grey);
      }
      a {
        color: var(--white);
        text-decoration: none;
        &:hover {
          color: var(--grey);
        }
      }
    }
    .admin-sidebar {
      width: 20%;
      padding: 10px;
      background-color: $dark-fourth;
      a {
        color: var(--white);
        text-decoration: none;
        transition: all 0.2s;
        display: block;
        padding: 5px;
        i {
          margin-right: 5px;
        }
        .caret {
          margin-left: 5px;
        }
        &.no-hover {
          &:hover {
            color: #fff;
          }
        }
        &:hover {
          color: var(--grey);
        }
        &.sublink {
          // margin left for sublink
          margin-left: 20px;
        }
      }
    }
  }
}

select {
  border-radius: 2px;
  padding: 12px 25px;
  color: var(--grey);
  font-family: inherit;
  font-weight: inherit;
  background-color: var(--dark);
  text-align: center;
  &:focus {
    outline: none;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  // on small screens col will be 100% width
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding : 15px;
  }
  .col-1 {
    flex-basis: 8.33333%;
  }
  .col-2 {
    flex-basis: 16.66667%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 33.33333%;
  }
  .col-5 {
    flex-basis: 41.66667%;
  }
  .col-6 {
    flex-basis: 50%;
  }
  .col-7 {
    flex-basis: 58.33333%;
  }
  .col-8 {
    flex-basis: 66.66667%;
  }
  .col-9 {
    flex-basis: 75%;
  }
  .col-10 {
    flex-basis: 83.33333%;
  }
  .col-11 {
    flex-basis: 91.66667%;
  }
  .col-12 {
    flex-basis: 100%;
  }
}

// css speech bubble
.speech-bubble {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: var(--dark-secondary);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  &:after {
    // show bubble on bottom
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--dark-secondary);

  
  }
}

footer {
  background-color: var(--dark);
  color: var(--grey);
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 45px;
  a {
    color: var(--grey);
    text-decoration: none;
    &:hover {
      color: var(--white);
    }
  }
}

.center-img {
  display: block;
  margin: 0 auto;
}

.category {
  display: block;
  .category_desc {
    width: 825px;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

.bio {
  // after 5 lines, put ... at the end
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  // on small screens, show all
}

.username {
  // cut off username after 10 characters
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile_button {
  padding: 10px;
  background-color: var(--blue);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  display: block;
  transition: 0.2s ease;
  margin-bottom: 5px;
  &:hover {
    background-color: var(--dark-blue);
  }
}

