$dark: #1a1a1a;
$white: #fff;
$grey: #aaa;
$blue: rgb(13, 13, 169);
$dark-blue: rgb(1, 1, 113);
$dark-blue-hover: rgb(4, 4, 82);
$dark-blue-hover-hover: rgb(10, 10, 120);
$red: #f00;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
body {
  // dark bg
  background-color: $dark;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
input, textarea, button {
  font-family: inherit;
}

input, textarea {
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: $dark;
  color: $white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
  &:focus {
    outline: none;
  }
  margin-top: 5px;
}
textarea {
  resize: none;
  min-height: 100px;
}

h1, h2 {
  color: $white;
}
h3, h4, h5, h6 {
  // gray text
  color: $grey;
}
label, p {
  // gray text
  color: $grey;
}
nav {
  margin-bottom: 1em;
}
.header {
  padding: 5px;
  text-align: center;
  background: $blue;
  font-size: larger;
  color: $white;
}
.navbar {
  background: $dark-blue;
  overflow: hidden;
  .left {
    float: left;
    text-align: left;
  }
  .right {
    float: right;
    text-align: right;
  }
  a {
    padding: 8px 12px;
    color: $white;
    display: inline-block;
    text-decoration: none;
    font-size: large;
    &:hover {
      background: $dark-blue-hover;
    }
    margin: 7.5px;
    border-radius: 5px;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.alert {
  background: rgb(4, 4, 82);
  color: $white;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 5px!important;
  text-align: center;
  &.success {
    background: $dark-blue-hover;
  }
  &.error {
    background: $red;
  }
  &.form-alert {
    max-width: 20em;
    margin: auto;
  }
}
button {
  display: block;
  padding: 14px 16px;
  margin: 5px 0;
  border: none;
  border-radius: 2px; 
  background: $dark-blue-hover;
  color: $white;
  font-size: larger;
  font-weight: 300;
  transition: 200ms;
  &:hover {
    background: $dark-blue-hover-hover;
    cursor: pointer;
  }
}
.card {
  border: 1px solid rgb(44, 44, 44);
  &.form-card {
    &.signup {
      max-width: 21.5em;
      margin: 0 auto;
      input {
        display: block;
      }
      label {
        display: block;
        font-size: larger;
      }
      button {
        width: 100%;
      }
    }
    &.message {
      max-width: 50em;
      margin: 0 auto;
      button {
        width: 100%;
      }
    }
  }
  .card-header {
    color: $white;
    background: rgb(1, 1, 113);
    padding: 5px;
  }
  .card-body {
    padding: 5px;
    background: #2a2a2a;
    label {
      &.status {
        display: block;
        font-size: larger;
      }
    }
    .link {
      color: $grey;
      text-decoration: none;
      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
  &.users {
    max-width: 40em;
    margin: 0 auto;
    a {
      color: $white;
      text-decoration: none;
    }
  }
}

.toast-wrapper {
  width: 420px;
  padding: 30px 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  .toast {
    width: 380px;
    padding: 20px;
    background-color: #2a2a2a;
    border-left: solid 8px #47d764;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.2fr 6fr 0.5fr;
    transform: translate(400px);
    transition: 1s;
    &.error {
      border-left: solid 8px rgb(233, 13, 13);
    }
    .container-1, .container-2{
      align-self: center;
    }
    .container-1 {
      font-size: 40px;
      color: #47d764;
      &.error {
        color: rgb(233, 13, 13);
      }
    }
    .container-2 p:first-child {
      color: $white;
      font-weight: 600;
      font-size: 16px;
    }
    .container-2 p:last-child {
      font-size: 12px;
      font-weight: 400;
      color: $grey;
    }
    button {
      align-self: flex-start;
      background: transparent;
      font-size: 25px;
      line-height: 0;
      border: none;
      color: $grey;
      cursor: pointer;
    }
  }
}

hr {
  border: 1px solid rgb(28, 27, 27);
  margin: 10px 0;  
}

code {
  font-family: monospace, Consolas, "courier new";
  color: crimson;
  background-color: $dark;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 2.5px; 
  margin: 2px;
  font-size: 105%;
}